.catlist {
  margin:0;
  padding:0;
  text-align:center;

  &__cat {
    display:block;
    text-decoration: none;
    color: darken($white, 2%);
    font-size: 1.2em;
    padding:.3em;
    border-bottom: 1px solid rgba($blue,.2);

    background:rgba($blue,.2);

    @include transition-base();
    &:hover {
      background:$black;
      color:$white;
    }
  }

}
