.cat-filter {
  background: $black;

  input {

    text-align: center;
    border:none;

    width: 100%;
    padding: .5em;

    letter-spacing:1px;

    background:$white;
    color:$black;



    transition:.5s;
    &:focus {
      outline:0;
      background:$black;
      color: $white;
    }

    &::placeholder {
      letter-spacing:1px;
      color: $black;
    }
  }
}