/**
 * Google Maps Style
 * Info boxes and canvas
 */
.gm-style-iw {
  text-align: center;
  overflow: scroll;
}

.info-box-custom {
  text-align: center;
  animation: fadeIn 2000ms;
}

.infoBox {
  animation: fadeIn 1000ms;
}