/**
 * Google Maps Style
 * Info boxes and canvas
 */
.map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex: 1 1 auto;
  //transform: translate3d(0, 0, 0);
  @include transition-base(.6s);
  #map {
    height: 100vh;
  }
}


.gm-style-iw {
  @include transition-base(2s);
  width: 350px !important;
  top: 15px !important;
  background: rgba($black, .6);
  box-shadow: 3px 3px 16px rgba($black, .6);
  border: 1px solid $black;
  border-radius: 5em 0;
}

.info-box-custom {
  margin: 0;
  padding: 1em;
  height: auto;
  @include fade-in(1.2s);

  &__icon {
    background: $white;
  }
  &__title {
    color: $white;
    font-size: 2rem;
    margin: 0 0 .2em 0;
    font-weight: 300;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
  }
  &__img {
    max-width: 100% !important;
    margin-bottom: .5em !important;
  }

  &__description {
    color: $white;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.gmap-close-btn {
  width: 3em !important;
  height: 3em !important;
  border-radius: 100%;
}