/**
 * Logo
 */
.logo {
  margin: 0 0 1em 1em;
  padding: 1em 0 0 0;
  font-size: 1em;
  display: inline-block;
}

/**
 * Sidebar
 */
.sidebar-options {
  position: absolute;
  width: 250px;
  height: 100vh;
  background: rgba($black, 0.1);
  &__nav__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
  }
  &__show-hide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: rgba($black, .2);
    margin: 0;
    padding: 0;
    &__button {
      background: lighten($black, 40%);
      border: 0;
      box-shadow: none;
      margin: .5em 0;
      font-size: 1.5rem;
      padding: .5em 1em;
      @include transition-base();
      &:hover {
        background: lighten($black, 60%);
      }
    }
  }

  /**
   * Hamburger icon shown when menu is off screen
   *
   */
  .toggle-btn {
    position: absolute;
    z-index: 100;
    right: 202px;
    background:lighten($blue, 25%);
    @include transition-base(.6s);

    .hamburger-color {
      background: black !important;
      fill: pink;
    }

    &.sidebar-open {
      right: 250px;
    }
  }
  .btn-addcat {
    &__img {
      max-width: 32px;
    }
  }
}


/**
 * Toggle Sidebar and Google Map
 */
.sidebar-open {
  transform: translate3d(250px, 0, 0);
}