/**
 * Logo
 */
.logo {
  margin: 0 0 1em 1em;
  padding: 1em 0 0 0;
  font-size: 1em;
  display: inline-block;
}

/**
 * Sidebar
 */
.sidebar-options {
  position: absolute;
  width: 250px;
  height: 100vh;
  background: rgba($black, 0.1);
  &__nav__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
  }
  &__show-hide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    padding: 0;

    li {
      flex: 2 2 auto;
    }

    &__button {
      width:100%;
      min-height:3em;
      background: darken($blue, 50%);
      color: darken($white,10%);
      border: 0;
      box-shadow: none;
      text-transform: uppercase;
      font-size: .8rem;
      letter-spacing: 1px;
      line-height: 1.3rem;
      @include transition-base();
      &:hover {
        background: darken($blue, 40%);
      }
    }
  }

  /**
   * Hamburger icon shown when menu is off screen
   */
  .toggle-btn {
    position: absolute;
    z-index: 100;
    right: 202px;
    background: $white;
    border: 1px solid $blue;

    @include transition-base(.6s);

    .hamburger-color {
      @include transition-base(1s);
      fill: $blue;
    }

    &.sidebar-open {
      right: 250px;
      background: lighten($blue,5%);
      border: 2px solid  lighten($blue, 20%);
      .hamburger-color {
        fill: $white;
      }
    }
    &:focus {
      outline: 0;
      border: 2px solid  lighten($blue, 20%);
    }

  }

  .btn-addcat {
    &__img {
      max-width: 32px;
    }
  }

}

/**
 * Toggle Sidebar and Google Map
 */
.sidebar-open {
  transform: translate3d(250px, 0, 0);
}