/**
 * Variables
 *
 */
$white: #fff;
$black: #000;
$green: #5cb85c;

// If these widths change also update sidebar.js
// $mapWidthLg: 80%;
$mapWidthMd: 70%;
$mapWidthSm: 65%;

$sidebarWidthLg: 20%;
$sidebarWidthMd: 30%;
$sidebarWidthSm: 35%;

$lgBreakpoint: 1200px;
$mdBreakpoint: 800px;



$navbar-color: darkslategrey;